Makefile.in
Makefile
aclocal.m4
configure
compile
ABOUT-NLS
INSTALL
config.guess
config.rpath
config.sub
missing
install-sh
python-ovirt-register*.tar.gz
python-ovirt-register.spec
src/ovirt_register/uuid.py
autom4te.cache
*.swp
py-compile
config.status
config.log
tmp.repos/*
